{{#post}}
    <div class="row">
        <header id="blog-view-header" class="headroom">
            <div>
                <button onclick="javascript:smallScreenPageChange(1)" class="btn">< Back</button>
            </div>
        </header>
        <div class="blog-view-container {{post_class}}">
            <article class="blog-view-entry">
                <header>
                    <div class="blog-view-title">
                        {{title}}
                    </div>
                    <div class="blog-view-date">
                         由 {{author.name}} 发表于 {{date format="YYYY年MM月DD日"}} 标签: {{tags}}
                    </div>
                </header>
                <hr>
                <div class="blog-view-content">
                        {{content}}
                </div>
                
                <div id="disqus_thread">
                </div>
            </article>

        </div>
    </div>
{{/post}}
<script type="text/javascript">
    var disqus_config = function () {
        this.page.url = '{{url absolute="true"}}'; 
        this.page.identifier = 'ghost-{{id}}'; 
    };
    (function() {
        var d = document, s = d.createElement('script');

        s.src = '//yourbaba.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
